<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <ng-template #tmpInput>
    <button type="button" (click)="addSection()">Section</button><br>
      <div *ngFor="let input of sections; let j = index">
      <button type="button" (click)="addInput()">Input</button>
      <b> Section {{ j+1 }} </b>
      <button type="button" (click)="deleteSection(j)" [disabled]="sections.length <= 1">Delete</button>
        <div *ngFor="let num of inputs; let i = index" #inputContainer>
          <div class="cmp-inputs-container">
            <b class="cl-number">Number {{ i+1 }} </b>
            <input
              #elem
              type="number"
              [value]="num.value"
              (change)="onChange(i,elem.valueAsNumber)"/>
            <button type="button" (click)="deleteInput(i)" [disabled]="inputs.length <= 1" >Delete</button>
          </div>
        </div>
        Result <output>{{ getResult() }}</output>
      </div>
  </ng-template>

  <div *ngIf="tmpInput; then tmpInput"></div>

  <!--

    <ng-template #tmpSection>
    <div *ngFor="let input of sections; let j = index">
      <div class="cmp-sections-container">
        <button type="button" (click)="addInput()">Input</button>
        <b> Section {{ j+1 }} </b>
        <button type="button" (click)="deleteSection(j)" [disabled]="sections.length <= 1">Delete</button>
        <div *ngIf="tmpInput; then tmpInput"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #tmpMain>
    <div>
      <button type="button" (click)="addSection()">Section</button><br>
      <div *ngIf="tmpSection; then tmpSection"></div>
    </div>
  </ng-template>

  <div *ngIf="tmpMain; then tmpMain"></div>

-->

</body>
</html>
